body{
  margin:0;
  font-family:Segoe UI,Arial;
  background:radial-gradient(circle at top,#1b3d7a,#07152d);
  color:#fff;
  display:flex;
}

/* SIDEBAR */
.sidebar{
  width:230px;
  background:#07152d;
  padding:25px;
  display:flex;
  flex-direction:column;
}

.sidebar h2{
  text-align:center;
  margin-bottom:30px;
}

.sidebar button{
  background:#0f2b57;
  border:none;
  color:#fff;
  padding:14px;
  margin-bottom:10px;
  border-radius:12px;
  cursor:pointer;
}

.sidebar button.active,
.sidebar button:hover{
  background:#ff8c00;
  color:#000;
}

.sair{
  margin-top:auto;
}

/* CONTENT */
.content{
  flex:1;
  padding:35px;
}

/* CARDS */
.cards{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:25px;
}

.card{
  padding:25px;
  border-radius:20px;
  box-shadow:0 15px 35px rgba(0,0,0,.4);
}

.card.blue{
  background:linear-gradient(145deg,#1c4a9e,#12316c);
}

.card.orange{
  background:linear-gradient(145deg,#ff9a00,#ff6a00);
  color:#000;
}

.card h3{
  font-size:34px;
}

/* PROGRESS */
.grafico-card{
  margin-top:25px;
  background:#0e2a52;
  padding:25px;
  border-radius:20px;
}

.progress{
  background:#07152d;
  height:14px;
  border-radius:10px;
  overflow:hidden;
  margin-bottom:15px;
}

.progress span{
  display:block;
  height:100%;
  background:linear-gradient(90deg,#ff9a00,#ff6a00);
}

/* GRID */
.grid{
  margin-top:30px;
  display:grid;
  grid-template-columns:2fr 1fr;
  gap:25px;
}

.box{
  background:#0e2a52;
  padding:25px;
  border-radius:20px;
}

input, select{
  width:100%;
  padding:12px;
  margin-top:10px;
  border-radius:10px;
  border:none;
}

button{
  margin-top:15px;
  padding:12px;
  border:none;
  border-radius:10px;
  background:#ff8c00;
  font-weight:bold;
  cursor:pointer;
}

ul{
  list-style:none;
  padding:0;
  margin-top:15px;
}

li{
  background:#071f3f;
  padding:10px;
  border-radius:10px;
  margin-bottom:8px;
}

/* LOGIN */
.login-body{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.login-card{
  background:#0e2a52;
  padding:40px;
  border-radius:20px;
  width:320px;
  text-align:center;
}
